<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="{% url 'carga' %}">Cargar base de datos</a></li>
        <li><a href="{% url 'dict' %}">Cargar diccionario</a></li>
        <li><a href="{% url 'recomendador_usuario' %}">Recomendador de peliculas por similaridad entre usuario</a></li>
        <li><a href="{% url 'recomendador_pelicula' %}">Recomendador de peliculas por similaridad entre peliculas</a></li>
        <li><a href="{% url 'coincidencias_pelicula' %}">Recomedador de películas más similares a una dada</a></li>
        <li><a href="{% url 'coincidencias_usuarios' %}">Recomedador de usuarios más similares a una pelicula dada</a></li>
    </ul>
</body>
</html>